Repository 0ekk/kubean, changes with the labels that .github/labeler.yml gives for each.
All labels: docs, gitHub actions, linters, testing, playbooks, CI, api, charts

.github/labeler.yml:

'docs':
- docs/**/*
- examples/**/*
- README_zh.md
- README.md

'gitHub actions':
- .github/**/*

'linters':
- .ansible-lint
- .golangci.yml

'testing':
- test/**/*

'playbooks':
- playbooks/*

'CI':
- hack/*
- config/*
- build/**/*
- artifacts/**/*

'api':
- api/**/*

'charts':
- charts/**/*

deploy: 13ac48dc4caaf775295bbf8580f992e262c3e5e3
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: 51d78149b29ffac03dbab8e709e7dca78c88a84b
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: 3a356773baca3408d4d924144e227ad986d5d69d
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: 2030467b14f02ef33157050167003f31e8d330f5
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: 594fac1601f178e36709fc9a559a03a1b5a6bd0e
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: fab2d64e8680ac737458e1917e55895171a98e97
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: be228cab71e15ea2b5b209f8e02d693d64038789
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: d4460657e35fbf4137c0f8268d80728d2d14b2f8
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: afc91a77829481be4ee348728c9a2b29bb803b84
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: 991c12108f6e6d3ff58b45007c110df7d76919c8
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: 994edaf7868a9ad7326cd921cb52616418bb1985
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: a45b822c05cc681d65d185495bfc75639a89683c
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: 0467b696efb6e7944c642594e73784c7a8422dc6
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: 11e045f5b5a54ac2970956cacd8de8cf6177d2fc
  en/sitemap.xml
  en/sitemap.xml.gz
  zh/sitemap.xml
  zh/sitemap.xml.gz
Labels: none

deploy: 79db44da54452494b0baa434f301934240e103a4
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: 1e337f1e1cbd355fdcc59b04d80e15f9c34d0582
  en/search/search_index.json
  en/sitemap.xml
  en/sitemap.xml.gz
  en/usage/airgap_patch_usage/index.html
  zh/search/search_index.json
  zh/sitemap.xml
  zh/sitemap.xml.gz
  zh/usage/airgap_patch_usage/index.html
Labels: none

test
  .github/workflows/manual-kubespray-release.yaml
  artifacts/manage_version_cr.sh
  pkg/controllers/infomanifest/controller.go
  pkg/controllers/offlineversion/controller.go
  vendor/github.com/kubean-io/kubean-api/constants/constants.go
Labels: gitHub actions, CI

test
  .github/workflows/call-sync-repos.yaml
Labels: gitHub actions

deploy: 11d1b96324e308f0574e0ab322c5107b28dda1d3
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

deploy: f8c97e199a520db150b944582e83dccfbc0534aa
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

Get correct kubespray version in e2e
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/build-push-for-e2e.yml
Labels: gitHub actions

deploy: 62620023b5716794a9818dde2a98a6c728edbeee
  en/sitemap.xml.gz
  zh/sitemap.xml.gz
Labels: none

test pr
  .github/workflows/auto-pr-ci.yaml
  .github/workflows/build-push-for-e2e.yml
  test.yml
Labels: gitHub actions

Test trivy
  1
Labels: none

Adapt the rename of kubespray-defaults
  artifacts/gen_airgap_crs.py
  build/images/kubespray/Dockerfile
  playbooks/ensure-kube-resolv-conf.yml
  version.yml
Labels: playbooks, CI

Adapt checksums.yml changes
  artifacts/gen_airgap_crs.py
  build/images/kubespray/Dockerfile
  version.yml
Labels: CI

Unify yq version in Dockerfile
  .github/workflows/call-os-pkgs-build.yaml
  build/os-packages/Dockerfile.centos7
  build/os-packages/Dockerfile.kylin-v10sp2
  build/os-packages/Dockerfile.kylin-v10sp3
  build/os-packages/Dockerfile.openeuler22.03
  build/os-packages/Dockerfile.oracle8
  build/os-packages/Dockerfile.oracle9
  build/os-packages/Dockerfile.redhat7
  build/os-packages/Dockerfile.redhat8
  build/os-packages/Dockerfile.redhat9
  build/os-packages/Dockerfile.rocky8
  build/os-packages/Dockerfile.rocky9
  build/os-packages/Dockerfile.tencent31
  build/os-packages/Dockerfile.ubuntu2004
  build/os-packages/Dockerfile.ubuntu2204
  build/os-packages/Dockerfile.ubuntu2404
Labels: gitHub actions, CI

Fix ansible to 9.13.0
  .github/workflows/call-build-imgs-for-kubean.yaml
  .github/workflows/call-build-imgs-for-spray.yaml
  build/images/kubespray/Dockerfile
Labels: gitHub actions, CI
